html, body{
    height: 100%;
}
body{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color:aliceblue;
    font-family: monospace;
}

#card{
    display:flex;
    padding: 2rem;
    background-color: darkslateblue;
    color: white;
    flex-direction: column;
}
#canvas{
    display: flex;
    flex-direction: column;

    width: 400px;
    height: 400px;
    background-color: aliceblue;
}
.row{
    display: flex;
    flex: 1;
}
.grid{
    border: .1px #a1cdff solid; 
    flex: 1;
}
.grid:hover{
    background-color: #0077ff;
}
h1{
    text-align: center;
}
#range-container{
    display: flex;
}
#range{
    width: 100%;
}
p{
    display: inline-block;
    padding: 0 0.5rem;
}